<header>
    <div> <a href="/index.html" class="branding nav_links">Self Determination: Singapore's 1955 Elections</a> </div>
    <nav>
        <ul class="nav_links">
            <li><a class="nav_links" href="./index.html">Story</a></li>
            <li><a class="nav_links" href="./map.html">Map</a></li>
            <li><a class="nav_links" href="#">About</a></li>
        </ul>
    </nav>
    <ul class="nav_links">
        <li> <a class="contact nav_links" href="./blog.html">Dev Blog</a></li>
    </ul>
</header>
