.buffer {
    z-index: -10;
}

.one-container :nth-child(1) {
    flex: 3;
}

.one-container :nth-child(2) {
    flex: 2;
}

.inner {
    padding-top: 0;
}

.profile-text > ul {
    padding-left: 40px;
    list-style-type: square;
    text-align: left;
    margin: 10px 5px;
    padding-left: 30px;
    font-size: 0.8em
}

li {
    line-height: 1.5;
    padding: 5px 0;
}

.profile-text.flex-row :nth-child(1) {
    flex: 1
}

.profile-text.flex-row :nth-child(2) {
    flex: 2
}

h4 {
    border-bottom: 2px solid rgba(103, 103, 103, 0.6);
    margin: 10px 15px;
}

.profile-text {
    padding-bottom: 20px;
}

img {
    position: relative;
    width: 100%;
}

#banner .inner {
    margin: 0;
}

.profile {
    width: 100%;
    opacity: 0;
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.profile.visible {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

#map {
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.bubble > .inner {
    width: 80%;
}

.bbox_profile {
    max-width: 100px;
    width: 10%;
}

.bbox_two {
    margin: 15px;
    max-width: 400px;
}

.sectionTwoText p {
    padding: 5px;
}

.sectionTwoText {
    margin: 15px;
    background-color: rgba(38, 90, 135, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 15px 50px;
}

.roads {
    width: 40vw;
    background-color: rgba(212, 76, 70, 0.9);
}