.site-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Farro', sans-serif;
    margin: 25px 30px;
}

h1 {
    font-size: 2.5em;
    text-transform: uppercase;

    max-width: 1000px;
    width: 80%;
    border-bottom: 2px solid rgba(103, 103, 103, 0.6);
}

h2 {
    font-size: 2em;
    border-bottom: 2px solid rgba(103, 103, 103, 0.6);
}

h3 {
    font-size: 1.5em;
    border-bottom: 2px solid rgba(103, 103, 103, 0.6);
}

p,
ul,
ol {
    font-family: 'Muli', sans-serif;
    margin: 10px 20px;
    line-height: 2;
    max-width: 800px;
    width: 80%;
    text-align: justify;
}

.solid {
    background-color: #347EBF;
    line-height: 1.5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E2D8B2;
}

.solid.alt {
    background-color: #F29E38;
}

.solid::after {
    content: "";
    display: block;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23347EBF%3B' /%3E%3C/svg%3E");
    height: 90px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: scale(1, -1) translate(0, -90px);
    z-index: 1;
}

.solid.alt::after {
    content: "";
    display: block;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23F29E38%3B' /%3E%3C/svg%3E");
    height: 90px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: scale(-1, -1) translate(0, -90px);
    z-index: 1;
}

.inner {
    max-width: 800px;
    padding: 150px 0 60px 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: stretch;
}

.inner.row {
    padding: 150px 0 60px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.buffer {
    flex: none;
    width: 100%;
}

#one::before {
    content: "";
    display: block;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23347EBF%3B' /%3E%3C/svg%3E");
    height: 90px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: translate(0, -90px);
}

.image {
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
}

.blockquote {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    padding: 5px 0;
}

.bold {
    font-weight: 700;
}

.profile {
    align-items: flex-start;
}

.bubble {
    background-color: rgba(255, 255, 255, 0);
}

.banner {
    background-color: rgba(152, 35, 35, 1);
    width: 100%;
}

.banner .inner {
    padding: 20px 0 40px 0;
}

.banner p {
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1.5;
    margin: 5px 20px;
}

.banner::after {
    content: "";
    display: block;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23982323%3B' /%3E%3C/svg%3E");
    height: 50px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: scale(-1, -1) translate(0, -50px);
    box-shadow: 1
}