/* Header */

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 15px 15px;
    background-color: rgba(152, 35, 35, 1);
}

#content {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: rgba(255, 250, 240, 1);
    order: 2;
}

.nav_links {
    list-style: none;
    font-family: 'Farro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
}

.nav_links li {
    padding 0 30px;
    margin: 10px 0;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    transition: all 0.3s ease 0s;
    color: #0008a9;
}
