#one {
    margin-top: 50vw;
}

#one .inner {
    padding: 0;
}

#bgVideo {
    position: absolute;
    top: 350px;
    width: 100%;
    z-index: -11;
}

#one::before {
    content: "";
    display: block;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23347EBF%3B' /%3E%3C/svg%3E");
    height: 90px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: translate(0, -90px);
}

.thumbnail{
    height: 200px;
    width: 200px;
    border-radius:200px;
}