body {
	background-color: #347EBF;
	align-items: center;
}

.container {
	margin: 10px auto;
	max-width: 600px;
	text-align: center;
}

h1 {
	margin: 30px 0;
	font-size: 3em;
	line-height: 1;
	letter-spacing: -1px;
}

#row {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	flex-direction: row;

}

.cell {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	flex: 3 1 auto;
}

img {
	max-width: 10vw;
}
