.resultsViz {
    height: 100vh;
    width: 100%;
    max-width: 1000px;
    position: absolute;
    overflow: hidden;
    right: 50%;
    transform: translate(50%, 0);
}

section {
    position: relative;
}

.content p {
    width: 70%;
    margin-top: 250px;
    background-color: rgba(255, 255, 255, 0.6);
    color: rgb(41, 41, 41);
    border-radius: 10px;
}

#one::before {
    background-image: none;
}

#one {
    height: 500vh;
    background-color: #E2D8B2
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    z-index: 10;
    color: black;
    margin: 0;
    padding: 0;
}

.x-axis text {
    font: 18px 'Muli', sans-serif;
    margin-top: 25px;
    color: black;
}

.chartTitle {
    text-align: center;
    margin: 0 auto;
    top: 50px;
}

.tick line {
    z-index: -1;   
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 170px;					
    height: 100px;					
    padding: 2px;				
    font-size: 0.9em;	
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

div.tooltip::first-child {
    font-weight: bold;
}

.hover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    stroke-width: 5px;
    stroke: #e9ff3d;
    z-index: 10;
}
