.resultsViz {
    height: 100vh;
    max-width: 1000px;
    margin: 0 10%;
}

section {
    position: relative;
}

.content p {
    width: 70%;
    margin-top: 250px;
    background-color: rgba(255, 255, 255, 0.6);
    color: rgb(41, 41, 41);
    border-radius: 10px;
}

#one::before {
    content: "";
    display: block;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23E2D8B2%3B' /%3E%3C/svg%3E");
    height: 90px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: scale(-1, 1) translate(0, -90px);
}

#one {
    height: 500vh;
    background-color: #E2D8B2
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    z-index: 10;
    color: black;
    margin: 0;
    padding: 0;
}

.x-axis text {
    font: 18px 'Muli', sans-serif;
    margin-top: 25px;
    color: black;
}

.chartTitle {
    text-align: center;
    margin: 0 auto;
    top: 50px;
}

.tick line {
    z-index: -1;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 170px;
    height: 100px;
    padding: 2px;
    font-size: 0.9em;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

div.tooltip::first-child {
    font-weight: bold;
}

.hover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    stroke-width: 5px;
    stroke: #e9ff3d;
    z-index: 10;
}

#headerImage img {
    width: 100%
}

#headerImage::after {
    height: 0;
}

#headerImage {
    height: 65vw;
}

#headerImage p {
    margin-top: 0;
}

#headerImage div {
    position: absolute;
    top: 0;
}

.graphContainer {
    width: 100%;
    max-width: 1000px;
    position: absolute;
    overflow: hidden;
}
