<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/assets/js/jquery.js"></script>
    <link rel="stylesheet" href="/assets/css/leaflet.css" />
    <script type="text/javascript" src="/assets/js/leaflet.js"></script>
    <script type="text/javascript" src="/assets/js/styledLayerControl.js"></script>
    <link rel="stylesheet" href="/assets/css/styledLayerControl.css">
    <script type="text/javascript" src="/assets/js/leaflet.wms.js"></script>
    <script type="text/javascript" src="/assets/js/leaflet.ajax.js"></script>
    <script type="text/javascript" src="/assets/js/d3.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Farro|Lexend+Deca|Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/common.css"> </head>